<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="templates/css/main.css" rel="stylesheet" type="text/css"/>
    <title>AutoShop</title>
</head>
<body>
<div class="container">
    <img src="templates/img/baner.jpg" alt="" class="baner"/>

    <div class="col-md-6 col-md-offset-3 search">
        <div class="col-md-6">
            <input type="text" class="form-control searchInput" placeholder="Search for...">
        </div>
        <div class="col-md-4">
            <select class="form-control" name="" id="selectSearch">
                <option value="">brand</option>
                <option value="">model</option>
                <option value="">year</option>
                <option value="">capacity</option>
                <option value="">color</option>
                <option value="">max_speed</option>
                <option value="">price</option>
            </select>
        </div>
        <div class="col-md-2">
            <button class="btn btn-warning searchBtn" type="button">Search</button>
        </div>
    </div>
    <div class="col-md-12 content">

    </div>
</div>
<script src="templates/js/jquery-1.11.2.min.js"></script>
<!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
<link rel="stylesheet" href="templates/libs/bootstrap/css/bootstrap.min.css">

<!-- Optional theme -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">-->
<link rel="stylesheet" href="templates/libs/bootstrap/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
<script src="templates/libs/bootstrap/js/bootstrap.min.js"></script>
<!--<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>-->
<script src="templates/js/main.js"></script>
<script src="templates/js/ajaxQueries.js"></script>
</body>
</html>
